@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/PTSans/ptsans.woff2') format('woff2'), url('../fonts/PTSans/ptsans.woff') format('woff'), url('../fonts/PTSans/ptsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia/Georgia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia/Georgia-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AkzidenzGroteskPro';
  src: local('AkzidenzGroteskPro'), local('AkzidenzGroteskPro'), url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$Fonts1: 'PT Sans';
$Fonts2: 'Georgia';
$Fonts3: 'AkzidenzGroteskPro';
