<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><h1>Скоро открытие</h1></div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Первокласный сервис</h2>
                <hr>
                <p>На ваш сотовый телефон будет отправлет код для регистрации в системе</p>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Первокласный сервис</h2>
                <hr>
                <p>На ваш сотовый телефон будет отправлет код для регистрации в системе</p>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Первокласный сервис</h2>
                <hr>
                <p>На ваш сотовый телефон будет отправлет код для регистрации в системе</p>
                <hr>
            </div>
        </div>
    </div>
</footer>